# Python cache
__pycache__/
*.py[cod]

# Database
*.db
*.sqlite3

# Environment variables (se userai password)
.env

# Screenshots e Log
screenshots/
*.log
debug_video.zip

# Cartelle IDE
.vscode/
.idea/

# Cookie sessions
src/*.pkl