# Python cache
__pycache__/
*.py[cod]
.venv/
*.pyc

# Database
*.db
*.sqlite3

# Environment variables (se userai password)
.env

# Screenshots e Log
screenshots/
logs/
*.log
debug_video.zip
supermarkets_html/

# File temporanei Castoro
castoro_*.html
castoro_*.png
castoro_*.txt
menu_*.png
archive/


# Cartelle IDE
.vscode/
.idea/

# Cookie sessions
src/*.pkl

# Configurations
*.deb*

# Script temporanei
cleanup_and_organize.sh
nohup.out

lista_spesa.txt